@{
    ViewBag.Title = "Acerca de nosotros";
}
<h2>@ViewBag.Title.</h2>

<p>Somos una empresa dedicada a la venta dispositivos móviles, accesorios y diferentes artículos.</p>
<p>
    Contamos con los mejores equipos en cuando a tecnología y comunicación actualmente.
    También manejamos accesorios con los mejores diseños para darle un estilo único a tu celular.
    No podían faltar las mejores consolas para que juegues con tus amigos o te diviertas en línea.
</p>
<br />

<h3>Ubicación</h3>
<p>Estamos ubicados en Av. Universidad Tecnológica 3051, Col, Lote Bravo, 32695 Cd Juárez, Chih.</p>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13593.134090207242!2d-106.40248465059823!3d31.59869004432737!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x86e766e2aee37dd7%3A0x33a53ddce213988c!2sUniversidad%20Tecnol%C3%B3gica%20de%20Ciudad%20Ju%C3%A1rez%20(UTCJ)!5e0!3m2!1ses-419!2smx!4v1647912921549!5m2!1ses-419!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
<br />

<h3>Facebook</h3>
<p>Regálanos un 'Me Gusta' y compártenos en Facbook</p>
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v13.0" nonce="QHP16kGl"></script>
<div class="fb-like" data-href="https://www.facebook.com/CompuJuarezOficial/" data-width="" data-layout="standard" data-action="like" data-size="small" data-share="true"></div>
<br />

<h3>Contacto</h3>
<p>Puedes cotnactarnos a través de nuestras diferentes vías:</p>
<ol>
    <li>Teléfono: +52 656 506 9267</li>
    <li>WhatsApp: <a href="https://wa.me/526567645952" target="_blank">+52 656 764 5952</a></li>
    <li>Correo: <a href="mailto:cristianalexis271@gmail.com">cristianalexis271@gmail.com</a></li>
</ol>
