@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-image: url(https://png.pngtree.com/background/20210714/original/pngtree-white-technology-background-clean-style-picture-image_1209726.jpg); background-repeat: no-repeat; background-size: cover;">
    <h1>TecnoTienda</h1>
    <p class="lead">Tu mejor opción en artículos de tecnología.</p>
    <p><a href="/Equipo/Disponibles" class="btn btn-primary btn-lg">Ver más &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Excelentes Artículos</h2>
        <p>
            TecnoTienda ofrece los mejores artículos de la ciudad.
        </p>
        <p><a class="btn btn-default" href="/Equipo/Disponibles">Échale un vistazo &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Increíbles precios</h2>
        <p>Contamos con dispositivos que se ajustan a tu bolsillo</p>
        <p><a class="btn btn-default" href="/Equipo/Disponibles">Saber más &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Los mejores diseños</h2>
        <p>¡Elige lo que más se adapte a tu estilo!.</p>
        <p><a class="btn btn-default" href="/Equipo/Disponibles">Buscar ahora &raquo;</a></p>
    </div>
</div>